<div class="masthead">
  <div class="masthead__inner-wrap">
    <a class="site-brand" href="/" aria-label="Houcheng Su homepage">Houcheng Su</a>
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button aria-label="Open navigation"><div class="navicon"></div></button>
        <ul class="visible-links">
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
